REACT_APP_LINKEDIN_CLIENT_ID=your_client_id_here
REACT_APP_LINKEDIN_CLIENT_SECRET=your_client_secret_here
REACT_APP_LINKEDIN_REDIRECT_URI=your_redirect_uri_here
REACT_APP_FIREBASE_API_KEY=your_key_here